{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">

    <h2 class="text-primary mb-4">Página dos Associados</h2>

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'cadastro' %}" class="btn btn-success fw-bold">
            + Novo Associado
        </a>
    </div>

    <div class="card shadow-sm p-3">
        <h5 class="mb-3">Associados :</h5>

        {% if associados %}
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Email</th> <!-- nova coluna -->
                        <th>Gênero</th>
                        <th>Data de Nascimento</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for associado in associados %}
                    <tr>
                        <td>{{ associado.id }}</td>
                        <td>{{ associado.cpf }}</td>
                        <td>{{ associado.nome_completo }}</td>
                        <td>{{ associado.email }}</td> <!-- exibindo o email -->
                        <td>{{ associado.genero }}</td>
                        <td>{{ associado.data_nascimento|date:"d/m/Y" }}</td>

                        <td>
                            <a href="/admin/associados/associado/{{ associado.id }}/change/" class="btn btn-sm btn-primary">Editar</a>
                            <a href="/admin/associados/associado/" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-end mb-1">
           <a href="{% url 'logout' %}" class="btn btn-outline-danger fw-bold shadow-sm">
              <i class="bi bi-box-arrow-right"></i> Logout
           </a>
        </div>

        {% else %}
        <p class="text-muted">Nenhum associado cadastrado até o momento.</p>
        {% endif %}
    </div>

</div>

{% endblock %}
