{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-primary mb-4">Login de Associado</h2>

    <div class="card shadow-sm p-4">
        {% if erro %}
            <p class="text-danger fw-bold">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="fw-bold">E-mail</label>
                <input type="email" name="email" class="form-control" placeholder="email@example.com" required>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Senha</label>
                <input type="password" name="senha" class="form-control" placeholder="Digite sua senha" required>
            </div>

            <button type="submit" class="btn btn-primary fw-bold mt-2">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}
